:root {
  --primary-color: #454b1b;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  --border-radius: 2.5px;
  -webkit-border-radius: 0.8px;
  -moz-border-radius: 0.8px;
  -ms-border-radius: 0.8px;
  -o-border-radius: 0.8px;
  --padding: 10px 20px;
}
body {
  color: #36454f;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  line-height: 2;
  font-size: 18px;
}
a {
  text-decoration: none;
  font-size: 18px;
}
.intro {
  margin-top: 100px;
}
.links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.about-link {
  margin-left: 20px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  padding: var(--padding);
}
.about-link:hover {
  background: var(--primary-color);
  color: #ffffff;
}
.contact-link {
  color: #ffffff;
  background: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  padding: var(--padding);
}
.contact-link:hover {
  border: 1px solid var(--primary-color);
  background: #ffffff;
  color: var(--primary-color);
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}
.yoga-link {
  color: #ffffff;
  background: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  padding: var(--padding);
}
.yoga-link:hover {
  border: 1px solid var(--primary-color);
  background: #ffffff;
  color: var(--primary-color);
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}
.weather-link {
  color: #ffffff;
  background: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  padding: var(--padding);
}
.weather-link:hover {
  border-radius: 1px solid var(--primary-color);
  background: #ffffff;
  color: var(--primary-color);
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  -webkit-border-radius: 1px solid var(--primary-color);
  -moz-border-radius: 1px solid var(--primary-color);
  -ms-border-radius: 1px solid var(--primary-color);
  -o-border-radius: 1px solid var(--primary-color);
}

.yoghurt-link {
  color: #ffffff;
  background: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  padding: var(--padding);
}
.yoghurt-link:hover {
  border: 1px solid var(--primary-color);
  background: #ffffff;
  color: var(--primary-color);
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}

.contact-info h3,
.abt {
  font-weight: 900;
  font-size: 48px;
}
.contact-info a {
  font-size: 25px;
  margin-left: 60px;
  color: #6c63ff;
}
@media (max-width: 576px) {
  h2 {
    font-size: 30px;
    text-align: center;
  }
  p {
    text-align: justify;
  }

  .yoga-link,
  .weather-link,
  .yoghurt-link {
    display: block;
    text-align: center;
    margin: 0 30px;
    letter-spacing: 2px;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .bone {
    width: 100%;
    padding: 10px;
  }
}
